<ion-view view-title="Intro">
  <ion-content>
<div id="main_body">

<div data-upcoming-birthdays data-people="people"></div>



<h1 class="title">Your Kids&rsquo; Addresses</h1>

<div id="images" class="col-xs-12">

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="img/danger.jpg"
 class="h">
<div class="panel panel-default caption">
Calling to find out kids' addresses while
letting baby
 drive is a leading cause of
 car accidents
</p>
</div>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="img/lookout.jpg"  class="v">
<div class="panel panel-default caption">
Grandfather photographed at moment he
begins to plan to
 forget child's address. Also, child cruelly led to believe that he is
 navigating tricycle
</div>
</div>

<div class="imgwithcaption col-xs-12 col-md-4 col-sm-4 col-lg-4">
<img src="img/distracted.jpg"  class="h">
<div class="panel panel-default caption">
Our scientists have proven it impossible to
 both dance and recall children's addresses at same time
</p>
</div>
</div>

</div>


<div class="col-xs-12">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>

  </ion-content>
</ion-view>
