<ion-view view-title="Other info">
  <ion-content>
<div id="main_body">


<div class="col-xs-12 col-sm-5 col-sm-offset-1">
<h1>Other useful info</h1>

<a href="#" ng-click="openExternalUrl('https://www.youtube.com/watch?v=GZQe_dysK5U')">How to reenable a Google Calendar</a>
that you have been invited to in the past,
but which you have somehow lost track of, and
are too embarrassed to ask your grandchildren to help you find
</div>
<div class="col-xs-0 col-sm-4 col-sm-12 col-lg-4">&nbsp;</div>



<div class="col-xs-12">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
.

</div>
</div>
  </ion-content>
</ion-view>
